.form-item > .slider-wrapper {
    display: flex;

}

.form-item > .radio-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-item > .radio-wrapper > .radio-button-one {
    grid-column-start: 1;
    display: flex;
}

.form-item > .radio-wrapper > .radio-button-two {
    grid-column-start: 2;
    display: flex;
}





.input {
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, black, chartreuse);
    padding: 3px;
    margin: 0;
    display: grid;
    border-radius: 9999em;
}


.input >:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1;
}

.input >*:not(span) >:focus + span {
    opacity: 1;
    transform: scale(1);
}

.input > span {
    transform: scale(.993, .94);
    transition: transform .5s, opacity .25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;

    box-shadow: inset 0 0 0 3px #fff,
    0 0 0 4px #fff,
    3px -3px 30px #1beabd,
    -3px 3px 30px #10abff;
}

.input > input {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.input > select {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.input > textarea {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 18px 5px 5px 5px;
    text-align: left;
    border-radius: 5555em;
}

.input > input:focus, select:focus, textarea:focus {
    background: linear-gradient(21deg, rgb(184, 241, 184), white);

}


/* slider styling - see slider file */

