h1 {
    font-family: 'Codystar', sans-serif;
    background: black;
    color: rgb(184, 241, 184);
    size: 4em;
    padding:30px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.coffee-list-item {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.accordion {
    background: white;
    display: grid;
}

.accordion__button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    justify-content: center;
    color: rgb(184, 241, 184);
    position: relative;
    background: rgb(146, 144, 144);
    padding: 13px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 9999em;
    cursor: pointer;
    transition: background 0.2s;
}

.accordion__button::after {
    content: '\25be';
    float: right;
    margin-right: 15px;
    transform: scale(1.5);
}

.accordion__button--active {
    background: rgb(196, 196, 196);
}

.accordion__button--active::after {
    content: '\25b4'
}

.accordion__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;

    padding: 0 15px;
    font-family: 'Raleway', sans-serif;
    background: #eeeeee;
}

